body {
    > div#root {
        > nav.navbar.top-nav:first-child {
            background-image: linear-gradient(to right, white 33.3%, #65E0FF, #4E36A5, #8062ff);
            box-shadow: 1.25px 2px 5px rgba($color: #000000, $alpha: 0.75);

        }    
    }
    div.offcanvas {
        font-size: 1.075rem;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
    }
}