@import "~bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "@material/data-table/mdc-data-table.scss";

div.row {
    > div.col.fragment-anchor:first-child {
        position: relative;

        > div.visually-hidden:first-child {
            $navbar-height: ($spacer + $navbar-brand-height) * -2;
            position: absolute;
            width: 1px;
            height: 1px;
            top: $navbar-height + 0.125rem;
        }

        > *:not(div.visually-hidden:first-child) {
            position: static;
        }
    }
}

div.mdc-data-table {
    width: 100%;

    table.mdc-data-table__table {
        > thead {
            > tr.mdc-data-table__header-row {
                > th.mdc-data-table__header-cell {
                    font-size: 1.125rem;
                }
            }
        }
        > tbody.mdc-data-table__content {
            > tr.mdc-data-table__row {
                > td.mdc-data-table__cell {
                    $cellFontSize: 0.95rem;

                    font-size: $cellFontSize;
                    > code {
                        color: black;
                        padding: 0.225rem;

                        &.value-type {
                            background-color: #CFCFCF;
                            border-radius: 0.25rem;
                        }
                        &.not-acceptable {
                            font-size: $cellFontSize;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

pre.sample-script {
    $prefFamily: 'Noto Sans Mono', monospace !important;

    font-family: $prefFamily;

    > code {
        font-family: $prefFamily;
    }
}
